.completa
{
    height:22vw;
    width:100%;
    position:relative;
}
.boxmotivacion
{
    height:auto;
    position: relative;
}
.videos
{
    height:10%;
    width:10%;
    position: relative;
    padding-left:0%;
    float:left;
    margin:0px;
    box-sizing:border-box ;
    list-style: none;
    clear: both;
    
}
table{
    width:10%;
}
td
{
    height:vw;;
    
}

.color 
{
    background-color:#333333;
}
.centro
{
    left:450px;
    position: relative;

}
.frases
{
    width:1200px%;
    position:relative;
}